#mydiv {
    top: 30%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    width:40em;
    height:40em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;
}


.wrapper {
    text-align: center;
  }
